{% extends "nota/base.html" %}
{% block titulo %}OnlineNote{% endblock titulo %}
{% block corpo %}
	<div class="row">
		<div class="col s12 m10 offset-m1 l10 offset-l1">
			<ul class="collection with-header" id="lista">
				{% for item in nota %}
					<li class="collection-item"><a href="#modal{{ item.pk }}"><div>{{ item.data }} - <b style="color: black;">{{ item.texto|truncatechars:30 }}</b></a><a href="#" onclick="remove({{ item.pk }})" class="secondary-content"><i class="material-icons">clear</i></a></div></li>
					 <!-- Modal Structure -->
					  <div id="modal{{ item.pk }}" class="modal">
					    <div class="modal-content">
					      <h4>Detalhe da nota</h4>
					      <p>Cadastrado em <b>{{ item.data }}</b></p>
					      <p>{{ item.texto }}</p>
					    </div>
					    <div class="modal-footer">
					      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Fechar</a>
					    </div>
					  </div>
				{% empty %}
					<h5 class="col s12 offset-s3">Não há nenhuma nota criada</h5>
				{% endfor %}
		    </ul>
		</div>
	
	


	<div class="fixed-action-btn" style="bottom: 45px; right: 45px;">
      <a class="btn-floating red btn-large" href="#modalAdicionar">
        <i class="material-icons left">add</i>
      </a>
    </div>
    <div id="modalAdicionar" class="modal">
		<div class="modal-content">
			<h4>Adicionar nota</h4>
			<div class="col l11">
				<input placeholder="Texto para a nota" id="add" type="text" class="validate">
			</div>
			<div class="col s1">
			<div class="pre1 preloader-wrapper small active semfunc loadadd">
			    <div class="spinner-layer spinner-green-only">
			      <div class="circle-clipper left">
			        <div class="circle"></div>
			      </div><div class="gap-patch">
			        <div class="circle"></div>
			      </div><div class="circle-clipper right">
			        <div class="circle"></div>
			      </div>
			    </div>
			  </div>
			</div>
			
          
		</div>
		<div class="modal-footer">
			<a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
			<button onclick="insere();" class="waves-effect green btn-flat">Adicionar</button>
		</div>
	</div>
	</div>

{% endblock corpo %}
	